.benefits {
    padding: 120px 0px;

}

.benefits__row {
    display: flex;
    gap: 70px;
}

.benefits__item {
    text-align: center;
}

.benefits__item-img {
    margin-bottom: 53px;
}

.benefits__item-text {
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 300;
}