.card {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(86, 86, 86, 0.5);

      background: linear-gradient(
          180deg,
          rgba(36,43,51,0) 0%,
          $dark 100%
      );
  }

  &::after {
    opacity: 0;
    content: "";

    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;

    border: 3px double rgba(255, 255, 255, 0.4);

    transition: all .2s ease-in;
  }

  &:hover {
    color: $white;
  }

  &:hover::after {
    opacity: 1;
  }
}

.card__img {
    transition: all .2s ease-in;
}

.card:hover .card__img {
    transform: scale(1.1);
    filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
