.cta {
    padding: 180px 0;

    background: url('./../../images/CTA/CTA-bg.jpg'), 
    #c4c4c4;
}
.cta__title {
    margin-bottom: 17px;
    font-family: $font-accent;
    font-size: 36px;
    color: $accent;
}
.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.cta__text {
    font-size: 16px;
    line-height: 1.5;
}
.cta__form {
    
}