.footer {
    background-color: $footer-bg;
    padding-top: 60px;
    letter-spacing: 0.05rem;
    padding-bottom: 51px;
    font-family: $font-main;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.footer__logo {

}

.footer__nav {
    margin-top: 12px;
}
.link-list {
    display: grid;
    gap: 15px;
}
.footer__address {
    margin-top: 12px;
}
.footer__address-icons {
    margin-top: 20px;
    display: flex;
    gap: 22px;
}