.form {
}
.form__input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    font-size: 14px;
    transition: background-color .2s ease-in;

    &::placeholder {
        color: $placeholder;
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.25);;
    }
}

.form__privacy {
    font-size: 13px;
    color: $muted;
    text-align: center;
    line-height: 1.23;
}

.form__button {
    height: 50px;
    padding: 12px;
    font-size: 16px;
    color: $white;
    font-weight: bold;
    text-align: center;
    background-color: $accent;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: saturate($accent, 20%);
    }
}

.cta__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
}