.header {
    padding-top: 30px;
    padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 840px;
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(./../images/header/Header-bg.jpg);
}

.header__top--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    padding-bottom: 121px;
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
}

.header__title-icon {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%); 
}

.header__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}