.video {

}

.video__link {
    position: relative;
    display: block;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        background: linear-gradient(
          0deg,
          rgba(36,43,51,0.8)
      );

      transition: background-color .2s ease-in;
    }

    &:hover::before {
        background: rgba(36, 43, 51, 0.7);
    }
}

.video__icon {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video__image {

}